
@using BusFor.Models.DataModel
@{
    BusInfo busInfo = ViewBag.BusInfo;
    int k = 1;
    int m = 3; int n = 10;
    List<int> ListPlace = ViewBag.List;
    int[] SoldPlace = ViewBag.SoldPlace;
    bool flag;
}
<div class="row">
    <div class="col">
        <input class="form-control" value="@busInfo.Time1  @busInfo.Date1.ToShortDateString()" readonly="readonly">
    </div>
    <div class="col">@busInfo.Location1</div>
    <div class="col">
        <input class="form-control" value="@busInfo.Time2  @busInfo.Date2.ToShortDateString()" readonly="readonly">
    </div>
    <div class="col">@busInfo.Location2</div>
</div>
<style>
    .blocktext {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="row">
<div class="blocktext">
    <div class="row">
    @for (int j = 0; j < n; j++)
    {
        <div class="col">
            @for (int i = 0; i < m; i++,k++)
            {
                <div>
                    <a asp-action="BuyTicket"
                       asp-controller="Home"
                       asp-route-place="@(((flag = (ListPlace.Contains(k) ? true : false)) == false) ? k:0)"
                       asp-route-removePlace="@(flag == true ? k:0)"
                       asp-route-id="@ViewBag.raceId"
                       asp-route-returnUrl="@ViewBag.returnUrl"
                       class="@((flag == true) ? "btn btn-warning":
                                (SoldPlace.Contains(k)?"btn btn-success disabled" :"btn btn-danger"))">@(k)
                    </a>
                </div>      
                @if(i==1)
                {
                    <pre></pre>
                }
            }
        </div>
       
    }
    </div>
</div>
</div>

    @for (int i = 0; i < ListPlace.Count; i++)
    {
        <div class="col">
            Place: @ListPlace[i]
            <a asp-action="BuyTicket"
               asp-controller="Home"
               asp-route-removePlace="@ListPlace[i]"
               asp-route-returnUrl="@ViewBag.returnUrl"
               class="btn btn-danger">x
            </a>
        </div>
    }

@if(ListPlace.Count>0)
{
    <div class="text-right">
        <a asp-action="EnterDataToBuyTicket" asp-controller="Home"
           asp-route-raceId="@ViewBag.raceId"
           class="btn btn-success">Buy Ticket</a>
    </div>
}

<div class="text-left">
    <a class="btn btn-primary" href="@ViewBag.returnUrl">Back to races</a>
</div>
