@model List<BusFor.Models.DataModel.Passenger>
@{
    List<int> PlaceList = ViewBag.ListPlace;
}

<div class="col">
    <form asp-action="EnterDataToBuyTicket" asp-controller="Home" method="post">
        @for (int i = 0; i < PlaceList.Count; i++)
        {
            <h3>Passenger @(i+1)</h3>
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model[i].Name"></label>
                    <input asp-for="@Model[i].Name" class="form-control" />
                    <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].Surname"></label>
                    <input asp-for="@Model[i].Surname" class="form-control" />
                    <span asp-validation-for="@Model[i].Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].Age"></label>
                    <input asp-for="@Model[i].Age" class="form-control" />
                    <span asp-validation-for="@Model[i].Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].Email"></label>
                    <input asp-for="@Model[i].Email" class="form-control" />
                    <span asp-validation-for="@Model[i].Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].Place"></label>
                    <input asp-for="@Model[i].Place" value="@PlaceList[i]" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model[i].DateRace"></label>
                    <input type="text" asp-for="@Model[i].DateRace" value="@ViewBag.Date.ToShortDateString()" class="form-control" readonly="readonly" />
                </div>
                <input type="hidden" asp-for="@Model[i].BusInfoId" value="@ViewBag.raceId" />
            </div>
        }
        <button class="btn btn-primary" type="submit">Finish</button>
    </form>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}