@using BusFor.Models.DataModel
@using System;
@{
    TrainInfo trainInfo = ViewBag.TrainInfo;
    int k = 1;
    string[] VanArray = ViewBag.VanArray;
    List<VanPlace> ListVanPlace = ViewBag.ListVanPlace;
    int VanPlaceCount = ListVanPlace.Count();
    int[] SoldPlace = ViewBag.SoldPlace;
    bool flag;
}
<div class="text-center">
    <h2>Coupe</h2>
</div>
<div class="row">
    <div class="col">
        <input class="form-control" value="@trainInfo.Time1  @trainInfo.Date1.ToShortDateString()" readonly="readonly">
    </div>
    <div class="col">@trainInfo.Location1</div>
    <div class="col">
        <input class="form-control" value="@trainInfo.Time2  @trainInfo.Date2.ToShortDateString()" readonly="readonly">
    </div>
    <div class="col">@trainInfo.Location2</div>
</div>

<div class="row">
    @foreach (var item in VanArray)
    {
        <div>
            <a asp-action="BuyCoupeTicket"
               asp-controller="Train"
               asp-route-raceId="@ViewBag.raceId"
               asp-route-van="@item"
               asp-route-returnUrl="@ViewBag.returnUrl"
               class="@(ViewBag.CurVan==item ? "btn btn-success" : "btn btn-warning")">
                @item
            </a>
        </div>
    }
</div>

<div class="row">
    @for (int j = 0; j < 9; j++)
    {
        <div class="row">
            @for (int i = 0; i < 2; i++)
            {
                <div class="col-4">
                    @for (int p = 0; p < 2; p++,k++)
                     {
                        <div>
                            <a asp-action="BuyCoupeTicket"
                               asp-controller="Train"
                               asp-route-raceId="@ViewBag.raceId"
                               asp-route-place="@((flag = (ListVanPlace.Find(x => x.Van == Convert.ToInt32(ViewBag.CurVan) && x.Place == k) != null)
                                        ? true : false)==false ? k:0)"
                               asp-route-removePlace="@(flag==true ? k:0)"
                               asp-route-van="@ViewBag.CurVan"
                               asp-route-returnUrl="@ViewBag.returnUrl"
                               class="@(flag == true ? "btn btn-warning" : (SoldPlace.Contains(k) ? "btn btn-success disabled" : "btn btn-danger"))">
                                @(k)
                            </a>
                        </div>
                     }
                </div>
            }
        </div>
        <pre>  </pre>
    }
</div>

@if (VanPlaceCount > 0)
{
    @for (int i = 0; i < VanPlaceCount; i++)
    {
        <div class="col">
            Van: @ListVanPlace[i].Van
            Place: @ListVanPlace[i].Place
            <a asp-action="BuyCoupeTicket"
               asp-controller="Train"
               asp-route-raceId="@ViewBag.raceId"
               asp-route-van="@ListVanPlace[i].Van"
               asp-route-removePlace="@ListVanPlace[i].Place"
               asp-route-returnUrl="@ViewBag.returnUrl"
               class="btn btn-danger">
                x
            </a>
        </div>
    }
}

@if (VanPlaceCount > 0)
{
    <div class="text-right">
        <a asp-action="EnterDataToBuyTicket" asp-controller="Train"
           asp-route-raceId="@ViewBag.raceId"
           asp-route-mode="C"
           class="btn btn-success">Buy Ticket</a>
    </div>
}

<div class="text-left">
    <a class="btn btn-primary" href="@ViewBag.returnUrl">Back to races</a>
</div>