@model IQueryable<BusFor.Models.DataModel.TrainInfo>
@using System
@{
    int count = Model.Count();
}
@if (count > 0)
{
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col btn btn-success">
                <input class="form-control text-center" value="@item.Time1" readonly="readonly">
                <div>@item.Location1</div>
            </div>

            <div class="col btn btn-block">
                ----
                @if (item.Date1 == item.Date2)
                {
                    @(item.Time2 - item.Time1)
                }
                else
                {
                    @((TimeSpan.Parse("23:59:59") - item.Time1 + item.Time2))
                }
                ----
            </div>
            <div class="col btn btn-danger">
                <input class="form-control text-center" value="@item.Time2" readonly="readonly">
                <div>@item.Location2</div>
            </div>
            <div class="col">
                <div class="col">
                    <a asp-action="BuyPlatzKarteTicket" asp-controller="Train"
                       class="@(DateTime.Now.TimeOfDay < item.Time1 && DateTime.Now.Date == item.Date1 ? "btn btn-success" : "btn btn-success disabled")"
                       asp-route-raceId="@item.Id">PlatzKarte @item.PlatzKartePrice UAN</a>
                </div>
                <div class="col">
                    <a asp-action="BuyCoupeTicket" asp-controller="Train"
                       class="@(DateTime.Now.TimeOfDay < item.Time1  && DateTime.Now.Date == item.Date1 ? "btn btn-success" : "btn btn-success disabled")"
                       asp-route-raceId="@item.Id">Coupe @item.CoupePrice UAN</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <h3>Not fount race on current date</h3>
    </div>
}
