@using BusFor.Models.DataModel
@{
    int m1 = 7; int n1 = 4;
    int m2 = 8; int n2 = 6;
    string[] s = { "A", "B", "C", "D", "E", "F" };
    int k = 0;
    List<IntStringPlace> ListPlace = ViewBag.ListPlace;
    int ListPlaceCount = ListPlace.Count();
}

<style>
    .blocktext {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="text-left">
    <a class="btn btn-primary" href="@ViewBag.returnUrl">Back to races</a>
</div>
@*Business class*@
<div class="row">
    <div class="col">
        <div class="col">
            <div class="row">
                <div class="blocktext">
                    <div class="row">
                        @for (int i = 0; i < n1; i++)
                        {
                            <div class="btn btn-secondary">@s[i]</div>
                            @if (i == 1)
                            {
                                <pre>    </pre>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <pre></pre>
        @for (int i = 0; i < m1; i++)
        {
            <div class="col">
                <div class="row">
                    <div class="blocktext">
                        <div class="row">
                            <div class="btn btn-secondary">@(++k)</div>
                            @for (int j = 0; j < n1; j++)
                            {
                                <div>
                                    <div class="btn btn-danger">
                                        <a asp-action="BuyTicket"
                                           asp-route-raceId="@ViewBag.RaceId"
                                           asp-route-intPlace="@k"
                                           asp-route-stringPlace="@s[j]"
                                           asp-route-returnUrl="@ViewBag.returnUrl">
                                            <pre> </pre>
                                        </a>
                                    </div>
                                </div>
                                @if (j == 1)
                                {
                                    <pre>    </pre>
                                }
                            }
                            <div class="btn btn-secondary">@(k)</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*Econom class*@
        <pre></pre>
        <div class="col">
            <div class="row">
                <div class="blocktext">
                    <div class="row">
                        @for (int i = 0; i < n2; i++)
                        {
                            <div class="btn btn-secondary">@s[i]</div>
                            @if (i == 2)
                            {
                                <pre>    </pre>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <pre></pre>
        @for (int i = 0; i < m2; i++)
        {
            <div class="col">
                <div class="row">
                    <div class="blocktext">
                        <div class="row">
                            <div class="btn btn-secondary">@(++k)</div>
                            @for (int j = 0; j < n2; j++)
                            {
                                <div>
                                    <div class="btn btn-danger">
                                        <a asp-action="BuyTicket"
                                           asp-route-raceId="@ViewBag.RaceId"
                                           asp-route-intPlace="@k"
                                           asp-route-stringPlace="@s[j]"
                                           asp-route-returnUrl="@ViewBag.returnUrl">
                                            <pre> </pre>
                                        </a>
                                    </div>
                                </div>
                                @if (j == 2)
                                {
                                    <pre>    </pre>
                                }
                            }
                            <div class="btn btn-secondary">@(k)</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <pre></pre>
        <div class="col">
            <div class="row">
                <div class="blocktext">
                    <div class="row">
                        @for (int i = 0; i < n2; i++)
                        {
                            <div class="btn btn-secondary">@s[i]</div>
                            @if (i == 2)
                            {
                                <pre>    </pre>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <pre></pre>
        @for (int i = 0; i < m2 + 2; i++)
        {
            <div class="col">
                <div class="row">
                    <div class="blocktext">
                        <div class="row">
                            <div class="btn btn-secondary">@(++k)</div>
                            @for (int j = 0; j < n2; j++)
                            {
                                <div>
                                    <div class="btn btn-danger">
                                        <a asp-action="BuyTicket"
                                           asp-route-raceId="@ViewBag.RaceId"
                                           asp-route-intPlace="@k"
                                           asp-route-stringPlace="@s[j]"
                                           asp-route-returnUrl="@ViewBag.returnUrl">
                                            <pre> </pre>
                                        </a>
                                    </div>
                                </div>
                                @if (j == 2)
                                {
                                    <pre>    </pre>
                                }
                            }
                            <div class="btn btn-secondary">@(k)</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col">
        @if (ListPlaceCount > 0)
        {
            @for (int i = 0; i < ListPlaceCount; i++)
            {
                <div class="col">
                    Place @ListPlace[i].IntPlace @ListPlace[i].StringPlace
                    <a asp-action="BuyTicket"
                       asp-controller="Plane"
                       asp-route-raceId="@ViewBag.raceId"
                       asp-route-removePlace="@ListPlace[i].IntPlace"
                       asp-route-stringPlace="@ListPlace[i].StringPlace"
                       asp-route-returnUrl="@ViewBag.returnUrl"
                       class="btn btn-danger">
                        x
                    </a>
                </div>
            }
        }
        @if (ListPlaceCount > 0)
        {
            <div>
                <a asp-action="EnterDataToBuyTicket" asp-controller="Plane"
                   asp-route-raceId="@ViewBag.raceId"
                   class="btn btn-success">Buy Ticket</a>
            </div>
        }
    </div>
</div>

